:root {
    --headercolor:hsl(339, 77%, 30%);
    --textcolor1:white;
    --section1color: #0f0e17;
    --section2color: rgb(44, 44, 82);

* {
    margin: 0;
}
   
}

body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0;
padding: 0;
}

#navbar {
    background-color:var(--headercolor);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}

.nav-links {
    display: flex;  
    flex-direction: row;
    list-style: none; 
} 

.nav-links a {
    color: var(--textcolor1);
    text-decoration: none;
    font-size: 1.5em;
    padding: 2rem ;
}

.nav-links a:hover {
    text-decoration: underline;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f0e17;
}

h1 {
    color: var(--textcolor1);
    font-size: 2.7rem;
    font-weight: 700;
}

#welcome-section > p {
    color: var(--headercolor);
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 100;

}
#projects .project-tile{
    height: 525px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.projects-section {
    text-align: center;
    margin: 0;
    padding: 10rem 2rem;
    background: var(--section2color);
}

.projects-section-header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-decoration: underline;
    color: var(--textcolor1);
}

#projects .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    color: var(--textcolor1);
    width: 100%;
    background-color: var(--section1color);
    padding: 1em;

}