:root {
    --headercolor:hsl(339, 77%, 30%);
    --textcolor1:white;
    --section1color: #0f0e17;
    --section2color: rgb(44, 44, 82);
}
   


body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0;
padding: 0;
}

#navbar {
    background-color:var(--headercolor);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}

.nav-links {
    display: flex;  
    flex-direction: row;
    list-style: none; 
} 

.nav-links a {
    color: var(--textcolor1);
    text-decoration: none;
    font-size: 1.5em;
    padding: 2rem ;
}

.nav-links a:hover {
    text-decoration: underline;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f0e17;
}

h1 {
    color: var(--textcolor1);
    font-size: 3rem;
    font-weight: 700;
}

p.for-section {
    color: var(--headercolor);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
    text-align: center;

}

.projects {
    text-align: center;
    margin: 0;
    padding: 8rem 2rem;
    background: var(--section2color);
}

h2 {
    font-size: 3rem;
    color: var(--textcolor1);
}

@media (max-width: 800px) {
    h2 {
        font-size: 2rem;
    }
}

.project-image {
    height: calc(100%- 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-tile {
    color: var(--textcolor1);
    width: 100%;
    background-color: var(--section1color);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

#contacts {
    background-color:var(--section1color);
    width: 100%;
    height: 80vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

